html {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  color: #65a0ff;
  font-size: 14px}

body {
  color: #65a0ff;
  text-align: left;
  position: relative;
}

.left-aligned {
  text-align: left;
  margin-left: 20px;
}

.right-aligned {
  text-align: right;
  margin-right: 20px;
}

.centered {
  text-align: center;
  margin: 0 auto;
}

img {
  display: block;
  margin: 0 auto;
}

h1 {
  color: #65a0ff;
  text-align: center;
}