html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #ffffff;
  color: #4285f4;
  text-align: center;
  position: relative;
}

p {
  color: #4285f4;
  font-family: Arial, Helvetica, sans-serif;
}

.left-aligned {
  text-align: left;
  margin-left: 20px;
}

.right-aligned {
  text-align: right;
  margin-right: 20px;
}

.centered {
  text-align: center;
  margin: 0 auto;
}

img {
  display: block;
  margin: 0 auto;
}

h1 {
  color: #4285f4;
  text-align: center;
}
