html {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  color: #3c63ff;
  font-size: 14px}
  
h1 {
  color: #3c63ff;
  text-align: left;
}
  
h2 {
  color: #3c63ff;
  text-align: left;
  }

body {
  color: #3c63ff;
  text-align: left;
  position: relative;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #7893ff;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #cfd8fc;
  color: #5D7EFF;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #5B7BFF;
  color: white;
}

.left-aligned {
  text-align: left;
  margin-left: 20px;
}

div.bio {
  width: 100%;
  overflow: auto;
}

div.bio div {
  width: 50%;
  float: left;
}

.right-aligned {
  text-align: right;
  margin-right: 20px;
}

.centered {
  text-align: center;
  margin: 0 auto;
}

img {
  display: block;
  /*margin: 5 auto;*/
	margin-left: 27%;
  width: 35%;
}