html {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  color: #3c63ff;
  font-size: 14px}
  
h1 {
  color: #3c63ff;
  text-align: left;
}
  
h2 {
  color: #3c63ff;
  text-align: left;
  }

body {
  color: #3c63ff;
  text-align: left;
  position: relative;
}

.left-aligned {
  text-align: left;
  margin-left: 20px;
}

div.bio {
  width: 100%;
  overflow: auto;
}

div.bio div {
  width: 50%;
  float: left;
}

.right-aligned {
  text-align: right;
  margin-right: 20px;
}

.centered {
  text-align: center;
  margin: 0 auto;
}

img {
  display: block;
  margin: 5 auto;
  width: 60%;
}